<!-- data
	jobId:10103, 
	companyId:1000, 
	type:'Repair', 
	startDate:'11/30/2016', 
	endDate:'11/30/2016', 
	startTime:'2:00 PM', 
	description:'This is a fix to old company', 
	instructions:'This should be repair job', 
	parts: [
		{partNumber:'AE0098123HG', qty: 11 },
		{partNumber:'BE0098144HG',qty: 7 } 
	],
	techAssignedId:1001,
	jobCompleteDate:'',
	totalTime:0,
	notes:'',
	managerNotes:'' 


	companyId: 
		_id : "581f9b9c7ab1209b3d6064cb"
		address : "1335 Market St"
		city : "Some City"
		companyId : 1000
		companyName : "Some Company"
		contactName : "John Smith"
		phone : "609-987-2345"
		state : "NJ"
		zip : "08245"
	description: "asd"
	endDate: "asd"
	instructions: "asd"
	part: Object
		AE0098123HG: "2"
		FE09821123HG: "7"
		__proto__: Object
	startDate: "asd"
	startTime: "asd"
	type: "adsf"
	__proto__: Object
 -->

<div 
	yw-active-menu="AddJob"
	yw-active-title="Add a new Job"
	ng-controller="addJobCtrl">
	<h1>Add New Job</h1>

	<form role="form">
 	
		<div class="form-group">
			<label for="">Select Company</label>
			<select name="company_select" id="Company_select" class="form-control" ng-change="existingCompany()" ng-model="newJob.companyId" ng-options="company.companyName for company in companies track by company.companyId">
				<option value="">Exsisting Company</option>
			</select>
		</div>

		<div class="company well" ng-show="companyShow">
			<div class="form-group">
				<input type="hidden" name="companyID" ng-model="company._id">
				<input type="text" name="companyName" id="inputCompanyName" class="form-control" placeholder="Company Name" ng-model="company.companyName">
			</div>
			<div class="form-group">
				<input type="text" name="companyContact" id="inputCompanyContact" class="form-control" placeholder="Company Contact" ng-model="company.contactName">
			</div>
			<div class="form-group">
				<input type="text" name="companyAddress" id="inputCompanyAddress" class="form-control" placeholder="Company Address" ng-model="company.address">
			</div>
			<div class="form-group">
				<input type="text" name="companyCity" id="inputCompanyCity" class="form-control" placeholder="Company City" ng-model="company.city">
			</div>
			<div class="form-group">
				<input type="text" name="companyState" id="inputCompanyState" class="form-control" placeholder="Company State" ng-model="company.state">
			</div>
			<div class="form-group">
				<input type="text" name="companyZip" id="inputCompanyZip" class="form-control" placeholder="Company Zip" ng-model="company.zip">
			</div>
			<div class="form-group">
				<input type="text" name="companyPhone" id="inputCompanyPhone" class="form-control" placeholder="Company Phone" ng-model="company.phone">
			</div>
		</div>
		
		<div class="form-group"><input type="text" class="form-control" name="jobType" id="jobType" ng-model="newJob.type" placeholder="Job Type"></div>
		<div class="form-group"><input type="text" class="form-control" name="startDate" id="startDate" ng-model="newJob.startDate" placeholder="Start Date"></div>
		<div class="form-group"><input type="text" class="form-control" name="startTime" id="startTime" ng-model="newJob.startTime" placeholder="Start Time"></div>
		<div class="form-group"><input type="text" class="form-control" name="endDate" id="endDate" ng-model="newJob.endDate" placeholder="End Date"></div>
		<div class="form-group">
			Job Description
			<textarea name="description" id="description" cols="30" rows="10" class="form-control" ng-model="newJob.description"></textarea>
		</div>
		<div class="form-group">
			Job Special Instructions
			<textarea name="instructions" id="instructions" cols="30" rows="10" class="form-control" ng-model="newJob.instructions"></textarea>
		</div>

		<div class="form-group row" ng-repeat="item in inventory">
			<div class="col-xs-5">
				{{item.partNumber}}:{{item.name}}
			</div>
			<div class="col-xs-2">
				<select name="company_select" id="Company_select" class="form-control"  ng-model="newJob.part[item.partNumber]" >
					<option value="">QTY</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="10">10</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<select name="selectTech" id="inputSelectTech" class="form-control" ng-model="newJob.techAssignedId" ng-options="tech.fname +' '+ tech.lname for tech in technicians track by tech.techNumber">
				<option value="">Select Technician</option>
			</select>
		</div>
		<input type="hidden" ng-model="newJob.jobCompleteDate" value="">
		<input type="hidden" ng-model="newJob.totalTime" value="">
		<input type="hidden" ng-model="newJob.n otes" value="">
		<input type="hidden" ng-model="newJob.managerNotes" value="">
		<button type="submit" class="btn btn-primary" ng-click="addJob()">Submit</button>
	</form>
</div>