<h2>Add Inventory</h2>

<div class="row">
	<div class="col-sm-12">
		<form role="form">
			<legend>Add New Part</legend>

			<div class="form-group">
				<label for="">Part Name</label>
				<input type="text" class="form-control" id="part_name" placeholder="Part Name">
			</div>
			
			<div class="form-group">
				<label for="">Part Number</label>
				<input type="text" class="form-control" id="part_number" placeholder="Part Number">
			</div>
			
			<div class="form-group">
				<label for="">Quantity</label>
				<input type="number" class="form-control" id="part_quantity" placeholder="Quantity">
			</div>

			

			<button type="submit" class="btn btn-primary">Save and Add Another</button>
			<button type="submit" class="btn btn-primary">Save Part</button>
		</form>
	</div>
</div>