<!-- list of today jobs -->
<div ng-controller="shopTechCtrl">
	<div class="list-group" >
		<a ng-repeat="job in jobs" href="#/techJob?ID={{job.id}}" class="list-group-item">Job {{$index +1}}: {{job.company}}<br>Type: {{job.type}}</a>
	</div>
	<div class="row">
				<div class="col-sm-12 main">
					<h2>Truck Inventory</h2>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Part Number</th>
									<th>Name</th>
									<th>Quantity</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>WE7871HS8</td>
									<td>Valve</td>
									<td>6</td>
								</tr>
								<tr>
									<td>12633547</td>
									<td>Washer 3/4</td>
									<td>21</td>
								</tr>
								<tr>
									<td>126216071</td>
									<td>Screw Cap 3/4</td>
									<td>5</td>
								</tr>
								<tr>
									<td>126272120</td>
									<td>Nut HEX 3/4-10</td>
									<td>25</td>
								</tr>
								<tr>
									<td>124325891</td>
									<td>Adapter 5FNP</td>
									<td>7</td>
								</tr>
								<tr>
									<td>124221401</td>
									<td>CLPC HSE</td>
									<td>7</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
</div>