<div ng-controller="techJobCtrl">
	<h1>Job Details</h1>
	<form action="">
		<input type="hidden" value="{{job.id}}" name="job_id">
		<div class="well row">
			<div class="col-sm-6">
			<h2>{{job.company}}</h2>
			<h3>Job Type: {{job.type}}</h3>
			<h4>Estimated Start: {{job.startTime}}</h4>
			<address>
				<strong>Contact: {{job.contact.name}}</strong>
				<br>
				{{job.contact.address}}<br>
				{{job.contact.city}}, {{job.contact.state}} {{job.contact.zip}} <br>
				<abbr title="Phone">P:</abbr> {{job.contact.phone}}
			</address>
			</div>
			<div class="col-sm-6 " id="map-container"><img class="img-responsive" src="/images/map-nj.png"></div>
		</div>
		<div class="well">
			<h2 class="text-center">Work Sheet</h2>
			<dl class="dl-horizontal">
				<dt>Description</dt>
				<dd> {{job.description}} </dd>

				<dt>Special Instructions</dt>
				<dd> {{job.instrucitons}} </dd>
			</dl>
			<h2>Parts List</h2>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="part in job.parts">
					<span class="badge">{{part.qty}}</span>
					{{part.name}}
				</li>
			</ul>
			<div class="clearfix">
				<form >
					<div class="form-group clearfix">
						<label for="inputAdditionalPart" class="col-xs-12 col-sm-2 control-label">Additional Parts:</label>
						<div class="col-xs-8">
							<input type="text" name="additionalPart" id="inputAdditionalPart" class="form-control" value=""  >
						</div>
						<div class="col-xs-2">
							<button type="button" class="btn btn-default">Add</button>
						</div>
					</div>
					<div class="form-group clearfix">
						<label for="textareaNotes" class="col-sm-2 control-label">Notes:</label>
						<div class="col-sm-10">
							<textarea name="notes" id="textareaNotes" class="form-control" rows="8" ></textarea>
						</div>
						
					</div>
					<hr>
					<div class="form-group clearfix">
						<label for="inputTotalTime" class="col-sm-2 control-label">Time:</label>
						<!-- <div class="col-sm-10">
							<input type="number" name="totalTime" id="inputTotalTime" class="form-control" step="" >
						</div> -->
						<div class="col-sm-4"><button class="btn btn-lg btn-block btn-success">Start</button></div>
						<div class="col-sm-4 col-sm-offset-1"><button class="btn btn-lg btn-block btn-danger">Stop</button></div>
					</div>
					
					<button type="submit" style="margin-top:40px" class="btn btn-lg btn-primary pull-right">Complete Job</button>
				</form>
			</div>
		</div>

	</form>
</div>